<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Lookup an Artist...'
    value=keyword}}
    <button {{action 'search' keyword}}>Search</button>
</div>
{{#if results.length}}
    <table>
      <tr>
        <th>Source</th>
        <th>License Type</th>
        <th>Bio</th>
      </tr>
      {{#each results as |bio|}}
        <tr>
          <td><a href="{{bio.url}}" target="_blank">{{bio.site}}</a></td>
          <td>{{bio.license.type}}</td>
          <td>{{bio.text}}</td>
        </tr>
      {{/each}}
    </table>
{{/if}}