<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Lookup an Artist...'
    value=keyword}}
    <button {{action 'search' keyword}}>Search</button>
</div>
{{#if results.length}}
    <table>
        <tr>
            <th>Blog Title</th>
            <th>Blog Content</th>
            <th>Date Found</th>
            <th>Date Posted</th>
        </tr>
        {{#each results as |blog|}}
            <tr>
              <td class="articleTitle"><a href="{{blog.url}}" target="_blank">{{blog.name}}</a></td>
                <td>{{blog.summary}}</td>
                <td>{{blog.dateFound}}</td>
                <td>{{blog.datePosted}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}
