{{#if songList.length}}
    <table>
        <tr>
            <th {{action 'updateSortBy' 'index'}}>#</th>
            <th {{action 'updateSortBy' 'title'}}>Title</th>
            <th {{action 'updateSortBy' 'artistName'}}>Artist</th>
            {{#if showDetails}}
                <th>Type(s)</th>
                <th {{action 'updateSortBy' 'songCurrency'}}>Currency</th>
                <th {{action 'updateSortBy' 'songDiscovery'}}>Discovery</th>
                <th {{action 'updateSortBy' 'songHotttnesss'}}>Hotttnesss</th>
            {{/if}}
        </tr>
        {{#each songList as |song|}}
            <tr>
                <td>{{song.index}}</td>
                <td>{{song.title}}</td>
                <td>{{song.artistName}}</td>
                {{#if showDetails}}
                    <td>{{song.types}}</td>
                    <td>{{song.songCurrency}}</td>
                    <td>{{song.songDiscovery}}</td>
                    <td>{{song.songHotttnesss}}</td>
                {{/if}}
            </tr>
        {{/each}}
    </table>
{{/if}}